@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local("Source Sans Pro ExtraLight"), local("SourceSansPro-ExtraLight"), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCVh0V6fR69OLaFLklYbiSk.woff2) format("woff2");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format("woff2");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGEo0As1BFRXtCDhS66znb_k.woff2) format("woff2");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url(http://fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoMxgy2Fsj5sj3EzlXpqVXRKo.woff2) format("woff2");
}
* {
  margin: 0px;
  padding: 0px;
  border: 0px none;
}

head, body {
  width: 100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.title {
  color: #F38630;
  text-align: center;
  border-bottom: 1px solid #EAEBEC;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  font-size: 45px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}

.test-table {
  display: table;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #8C4646;
  background: #EAEBEC;
  border-collapse: separate;
  color: #685206;
  font-size: 14px;
  line-height: 24px;
  margin: 12px 0;
}
.test-table button {
  float: right;
  padding: 5px 10px;
  border: 1px solid #CCCCCC;
  background-color: #69D2E7;
}
.test-table button:hover {
  background: -webkit-linear-gradient(top, #019AD2, #3bcafe);
  background: linear-gradient(to bottom, #019AD2, #3bcafe);
}
.test-table button:active {
  position: relative;
  top: 1px;
}

.table-caption {
  display: table-caption;
  width: 100%;
  padding: 20px 0px;
  overflow: hidden;
}

.test-title {
  float: left;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}

.table-body {
  display: table-row-group;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  border: #CCCCCC 1px solid;
  text-align: center;
  vertical-align: middle;
}

.table-header {
  display: table-header-group;
  background: #69D2E7;
}

.lib-name {
  width: 10%;
}

.lib-test-result {
  width: 20%;
}

.code {
  text-align: left;
}
